<ion-view title="{{card.type}}: {{card.title}}">

    <ion-content padding="true" class="has-header">

        <h3>{{card.title}}</h3>

        <div>
            <p><strong>{{card.definition}}</strong></p>

            <div ng-show="card.images" ng-repeat="headerimage in card.images">
                <img ng-src="{{headerimage}}">
            </div>

            <!-- For now, just mock the proposition id's with $index -->

            <h4>Key Propositions</h4>
            <ion-list class="item-text-wrap">
                <div ng-repeat="point in card.children track by $index">

                    <a href="#/tab/propositions/{{$index}}" class="blue-ion-pane item item-icon-right">
                        <p>{{card[point].title}}</p>
                        <i class="icon ion-chevron-right"></i>
                    </a>

                </div>
            </ion-list>

            <ion-list>

                <a class="button button-calm button-full item item-icon-left" href="#"><i class="icon ion-quote"></i>
                See more claims ...</a>
            </ion-list>
        </div>



        <h3>Status</h3>
        <div>
            <p>{{card.status}}</p>
        </div>



        <h3>Advocates / Experts</h3>
        <div>
            <ion-list class="item-text-wrap">

                <div ng-repeat="expert in card.expert_ids">
                    <ion-item class="item-thumbnail-left"
                        href="#">
                        <img ng-src="{{experts[expert].image}}">
                        <h2>{{experts[expert].name}}</h2>
                        <p>{{experts[expert].title}}</p>
                    </ion-item>
                </div>

                <a class="button button-calm button-full item item-icon-left" href="#"><i class="icon ion-university"></i>
                See more experts ...</a>
            </ion-list>
        </div>





    </ion-content>

</ion-view>

<!-- <ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
 -->
