/* Empty. Add your own CSS if you like */

div.list .item-complex .item-content {
	background-color: aliceblue;
}

/* Fix this so that it's not so random ... */

/*div.list a.item-text-wrap {
	background-color: aliceblue;
}*/

.blue-ion-pane {
	background-color: aliceblue;
}

.blue-pane {
	width: 100%;
	padding: 1em;
	text-align: center;
	background-color: aliceblue;
	border-color: #ddd;
	border-width: 1px;
	border-style: solid;
}

.highlighter {
	background-color: yellow;
	z-index: 3;
}

.warning-background {
	background-color: #FFF0F0;
}

.search-hit {
	color: white;
	background-color: red;
	z-index: 4;
}

.slider { height: 100%; text-align: center }
.scroll { height: 100% }

div.small-button {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

div.small-button-left {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

div.small-button-right {
	padding-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

div.col > a.small-button-anchor {
	margin-top: 0px;
	margin-bottom: 15px;
}