/* Empty. Add your own CSS if you like */

div.list .item-complex .item-content {
	background-color: aliceblue;
}

/* Fix this so that it's not so random ... */

/*div.list a.item-text-wrap {
	background-color: aliceblue;
}*/

.blue-ion-pane {
	background-color: aliceblue;
}

.blue-pane {
	width: 100%;
	padding: 1em;
	text-align: center;
	background-color: aliceblue;
	border-color: #ddd;
	border-width: 1px;
	border-style: solid;
}

.highlighter {
	background-color: yellow;
}

.warning-background {
	background-color: #FFF0F0;
}